body{
  font-family: sans-serif;
  background-color: #FAF9F8;
}
.nav-header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  margin-top: 40px;
  
}

.nav-header .nav-icon {
  margin-right: 20px;
 
}
.nav-icon span{
  margin-left: 10px;
}
.menu{
  display: flex;
  list-style-type: none;
  padding: 20px;
}
.menu li a{
  text-decoration: none;
  color:black;
  margin-left:20px;
}

.nav-logo{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.nav-menu-area{
  display: flex;
  justify-content: center;
}
.burger-menu{
  margin-left: 20px;
}

.landing-search-box{
  right: 20px;
  position: absolute;

}
.sidebar{
  max-width: 500px;
}

.search-box{
  border-bottom: 1px solid black;
  /* position: absolute; */
  padding: 5px;
}
.search-box input{
  border:none;
  margin-left:5px;
  background-color: #FAF9F8;
}
.search-box input:focus {
  outline:none
}
.mobile-search-box{
 position: relative;
 top:10px;
 left:10px;
}
.search{
  align-items: center;

}
.search-icon{
  margin-left: 10px;
}
.search input{
  border: none;
  background-color: #FAF9F8;
  padding-left: 20px;
}
.search input:focus{
  outline:none
}
.mobile-search-box .closebtn{
  font-size: 36px;
  border: none;
  background: none;
  padding-right: 30px;
}
.card{
  border:none !important;
  margin-bottom: 10px;
}

.choice{
  font-size:11px;
  color: #63786a;
  font-weight: bold;
  height: 20px;
}

.new-product {
  font-size: 11px;
  height: 20px;
}

.error-message{
  text-align: left;
  width: 100%;
  
}
.form-control:valid {
  background-color:  white !important;
}



.drop-down{
  margin-top:20px;
}

.add-button{
  margin-top:20px;
  width: 100%;
}

.card:hover{
  transform: scale(1.1);
  z-index: 1;
}
.hide{
  visibility:hidden
}


.side-menu {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: burlywood;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index:2;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}


.side-menu-list button {
  margin: 5px;
  border: none;
  background: none;
  width: 120px;
}

.side-menu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  border: none;
  background: none;
}

.side-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-menu-list button:hover {
  background-color: beige;
  border-radius: 3px;
} 


#sidebar-wrapper{
  min-height: 100vh !important;
  background-color: red;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  /* box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1); */
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
   /* width: 100vw; */
 /* margin-left: -1rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out; */
}
.sidebar-item{
  color:black;
  font-weight: bold;
  padding: 20px 10px;
  list-style-type: none;
  

  
}
.sidebar-item:hover{
  color:white;
  background-color: red;
  font-weight: bold;
}
.sidebar-area{
  padding-left: 0;
}
.sidebar{
  max-width: 300px;
  padding:20px;
  background-color: rgb(248,249,250);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding-left: 40px;
}
.mobile-sidebar-toggle{
  display:none;
}


@media screen and (max-width: 63rem) {
  .hide {
    visibility:visible;
  }
  .menu {
    display: none;
  }
 
  .nav-icon:last-child{
    margin-right: 0px;
  }
  .nav-header{
    margin-top: 20px;
    margin-bottom:30px
  }

  .sidebar-toggle{
    display: none;
  }
  .mobile-sidebar-toggle{
    display:block;
  }
  .sidebar{
    max-width: 100%;
    padding:0px;
    /* margin-bottom: 0; */
  }
  .mobile-sidebar{
    max-height: 104px;
  }
}
.display-flex{
  display:flex;
  align-items: center;

}

.admin-layout{
  display: flex;
}

.landing-search-box input{
  background-color: #FAF9F8;
}

.link-area{
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 20px;
}

.toast-message{
  background: rgb(208, 33, 252, 0.5);
    color: #fff;
    font-size: 20px;
    width: 34vw;
    height: 34vh;
    padding: 30px 20px;
}


.page-item {
  background: pink;
  border: 1px solid blue;
  margin: 0 5px;
  /* 각 페이지 항목 사이에 간격을 추가 */
  padding: 5px 10px;
  /* 패딩을 추가하여 클릭 가능한 영역을 확대 */
  border-radius: 4px;
  /* 둥근 모서리를 추가 */
}

.page-link {
  color: blue;
  /* 텍스트 색상을 지정 */
  text-decoration: none;
  /* 링크의 밑줄 제거 */
}

.page-item.disabled,
.page-item.active {
  background: lightblue;
  /* 비활성화 및 활성화된 페이지의 배경 색상 변경 */
  cursor: default;
  /* 포인터 커서 제거 */
}


